<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Moveu</title>
    <link rel="icon" href="/static/img/Moveu-Logo.png">
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Moveu</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if is_logged %}
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  -->
</body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <div class="title">Top 10 Highest Rated Movies</div>
        <ul>
          <li><a href="https://www.popcorn.app/sg/joker/movie/10815">Joker</a></li>
          <li><a href="https://www.popcorn.app/sg/the-captain/movie/12798">The Captain</a></li>
          <li><a href="https://www.popcorn.app/sg/gemini-man/movie/4854">Gemini Man</a></li>
          <li><a href="https://www.popcorn.app/sg/the-farewell/movie/12365">The Farewell</a></li>
          <li><a href="https://www.popcorn.app/sg/weathering-with-you/movie/12100">Weathering With You</a></li>
          <li><a href="https://www.popcorn.app/sg/asuran/movie/12784">Asuran</a></li>
          <li><a href="https://www.popcorn.app/sg/my-people-my-country/movie/12742">My People, My Country</a></li>
          <li><a href="https://www.popcorn.app/sg/hustlers/movie/12411">Hustlers</a></li>
          <li><a href="https://www.popcorn.app/sg/ad-astra/movie/6866">Ad Astra</a></li>
          <li><a href="https://www.popcorn.app/sg/it-chapter-two/movie/10090">It: Chapter Two</a></li>
        </ul>
      </div>

      <div class="col-sm-6">

        <div class="title">Top 10 Movies Rated by Our Users</div>
        <ul>
          <li><a href="https://www.popcorn.app/sg/gemini-man/movie/4854">Gemini Man</a></li>
          <li><a href="https://www.popcorn.app/sg/the-sky-is-pink/movie/12775">The Sky Is Pink</a></li>
          <li><a href="https://www.popcorn.app/sg/zombieland-2/movie/9034">Zombieland 2</a></li>
          <li><a href="https://www.popcorn.app/sg/metallica--san-francisco-symphony-sm2/movie/12369">Metallica & San Francisco Symphony: S&M2;</a></li>
          <li><a href="https://www.popcorn.app/sg/two-blue-stripes-/movie/12763">Two Blue Stripes </a></li>
          <li><a href="https://www.popcorn.app/sg/jinpa/movie/12665">Jinpa</a></li>
          <li><a href="https://www.popcorn.app/sg/martha--niki/movie/12738">Martha & Niki</a></li>
          <li><a href="https://www.popcorn.app/sg/tom-of-finland-/movie/9529">Tom Of Finland </a></li>
        </ul>

      </div>

    </div>
    <br>
    <div class="row">
      <hr>
      <div class="title col-sm-12">
        <h4>Moveu. The best movie reviews in town.</h4>
        <p>We collect reviews from professional critiques to bring you ratings & reviews from the best of the best.</p>
      </div>
    </div>
  </div>
</footer>

</html>
