{% extends "layout.html" %}

{% block title %}
    Review
{% endblock %}

{% block body %}
    <h1>Login To Your Review Account.</h1>

    <form action="{{ url_for('verifylogin') }}" method="post">

        {{ message }}

        <div class="form-group">
            <input class="form-control" name="un" placeholder="Username">
        </div>

        <div class="form-group">
            <input class="form-control" type="password" name="pw" placeholder="Password">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Login</button>
        </div>


    </form>
{% endblock %}
